<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!--
<h1>My Name Is {{name}}</h1>
<h1>My Email Is {{email}}</h1>
<h1>Salary Is {{salary}}</h1>
<img [src]="imagepath">
<br>
<input type="text" placeholder="Name" [value]="name" (change)="Inputhandle($event)">
<input type="text" placeholder="Name" [(ngModel)]="name">
<input type="email" placeholder="example@ex.com" [value]="email">
<input type="number" placeholder="salry" [value]="salary">
<h1>My Name Is {{name}}</h1>
<table>
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>City</th>
</tr>
<tr *ngFor="let obj of customers">
<td>{{obj.id}}</td>
<td>{{obj.name}}</td>
<td>{{obj.age}}</td>
<td>{{obj.city}}</td>
</tr>
</table>
<button (click)="clear()">clear</button>
-->


<app-footer></app-footer>